.home-content {
    width: 100%;
}

.home-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.arrows {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrows div {
    margin: 2rem;
}

.arrows div i {
    font-size: 3rem;
    color: white;
}

/* .books-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    align-content: start;
 } */

 /* quote */
 .quote
 {
     display:flex;
     height:50rem;
     width:100%;
     justify-content: center;
     align-items: center;
 }
 .quote-img{
     width:50%;
     height:100%;
     padding:1rem;
 }

 .quote-img img{
     height:100%;
     width:100;
     
 }
 .quote-text{
     font:600;
 }

 .App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.books-grid-container {
  display: flex;
  max-width: 500px;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}


.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}